@media (max-width: 520px) {
  .main-title {
    line-height: 130%;
  }

  .main-text {
    margin-bottom: 20px;
  }
}

/* -- header --------------------------------------- */
@media (max-width: 940px) {
  .first-bg-wrapper {
    width: 100%;
    height: 100%;
    min-height: 795px;
    background-image: url(../img/section-first_bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }
  .header__menu-item a {
    color: #252b42;
  }

  .section-first__text {
    color: #252b42;
  }

  .header__menu-item a {
    font-size: 18px;
  }

  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .header{
    padding: 20px 0 10px;
  }

}

@media (max-width: 570px) {

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header__menu-item a {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .header__menu-item {
    font-size: 18px;
  }
}

/* burger ------------------ */
@media (max-width: 767px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    opacity: 0;
    transform: translateX(120%);
    transition: all 0.4s ease 0s;
    overflow-y: scroll;
  }

  /* хром, сафари */
  .header__menu::-webkit-scrollbar { width: 0; 
  }
  /* ie 10+ */
  .header__menu { -ms-overflow-style: none;
  }
  /* фф (свойство больше не работает, других способов тоже нет)*/
  .header__menu { overflow: -moz-scrollbars-none; 
  }

  .header__menu._active{
    opacity: .92;
    transform: translateX(0);
    transition: all 0.4s ease 0s;
  }


  .header__menu-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
  }

  .header__menu-item{
    padding: 20px 0;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 0;
  }

  .header__menu-item a{
    color: #fff;
    font-size: 25px;
  }

  /* .header__menu::before {
    content: '';
    background-color: #000;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

  .header {
    margin-bottom: 0;
  }
}
/* burger ------------------ */

/* -- /header --------------------------------------- */

/*-- section-first -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 580px) {
  .header {
    max-height: 100px;
  }
}

@media (max-width: 480px) {
  .section-first__title {
    font-size: 42px;
    line-height: 120%;
  }

  .section-first__container-main {
    padding: 0 15px;
  }

  .section-first__btn-raw {
    flex-direction: column;
  }

  .btn-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .section-first__title {
    margin-bottom: 15px;
    font-size: 38px;
  }

  .section-first__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .first-bg-wrapper {
    min-height: 700px;
  }
}

@media (max-width: 420px) {
  .first-bg-wrapper {
    min-height: 630px;
  }
}
/*-- /section-first -------------------------------------------------------------------------------------------------------------------------*/

/*-- section-second -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .section-second__cards-colomn {
    flex: 0 1 50%;
  }

  .section-second__cards-colomn:not(:last-child) {
    margin-bottom: 30px;
  }

  .section-second__cards-colomn:last-child {
    flex: 0 1 100%;
  }

  .statistic-item {
    flex: 0 1 50%;
  }
}

@media (max-width: 700px) {
  .section-second__cards-colomn {
    flex: 0 1 100%;
  }

  .section-second__cards-colomn:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .statistic-item {
    flex: 0 1 100%;
  }

  .main-title {
    font-size: 30px;
  }

  .section-second__cards-wrapper {
    margin-bottom: 70px;
  }

  .section-second {
    padding-bottom: 30px;
  }
}
/*-- /section-second -------------------------------------------------------------------------------------------------------------------------*/

/*-- section-third -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1090px) {
  .vertical-colomn {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .vertical-colomn {
    flex: 0 1 100%;
  }
}
/*-- /section-third -------------------------------------------------------------------------------------------------------------------------*/

/*-- section-four -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
  .main-content__video {
    flex: 0 0 100%;
    position: relative;
    padding: 0px 0px 60% 0px;
  }
  .main-content__video video {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .main-content__offer {
    margin-left: 0px;
    flex: 1 1 100%;
    margin-bottom: 50px;
  }

  .main-content__offer-text {
    max-width: 100%;
  }

  .section-four__main-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-content__offer-title {
    font-size: 24px;
  }

  .section-four__text {
    max-width: 511px;
    margin: 0 auto 50px;
  }

  /* section-four__footer */
  .section-four__footer {
    margin: 0 -15px;
  }

  .section-four__footer-text {
    font-size: 22px;
  }

  .bottom-line {
    display: none;
  }
}

@media (max-width: 850px) {
  /* section-four__footer */

  .section-four__footer-raw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-four__footer-text {
    max-width: none;
    margin-bottom: 20px;
  }

  .section-four__footer-form {
    width: 100%;
  }

  .form-1 {
    min-width: 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 570px) {
  .form-1-input {
    padding: 27px 10px;
    min-width: 200px;
    border: none;
    flex: 1 1 auto;
  }

  .section-four__footer-raw {
    padding: 30px 15px;
  }
}

/*-- /section-four -------------------------------------------------------------------------------------------------------------------------*/

/*-- section-five -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
  .section-five__cards-colomn {
    flex: 0 1 100%;
    justify-content: center;
  }

  .section-five__text {
    margin: 0 auto 80px;
  }

  .section-five {
    padding-top: 120px;
  }

  .section-five__cards-raw {
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .section-five__cards-colomn:hover {
    transform: scale(1);
  }
}

@media (max-width: 450px) {
  .section-five__cards-raw {
    padding-bottom: 50px;
  }
}
/*-- /section-five -------------------------------------------------------------------------------------------------------------------------*/

/*-- section-six -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
  .section-six__main-content {
    flex-wrap: wrap;
  }

  .section-six__main-content-btn {
    flex: 0 1 100%;
  }

  .section-six__main-content-offer {
    margin-bottom: 20px;
  }
}
/*-- /section-six -------------------------------------------------------------------------------------------------------------------------*/

/*-- footer -------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 640px) {
  .footer__content-colomn {
    flex: 0 1 50%;
    padding: 0 10px;
  }

  .footer__bottom-content {
    flex-wrap: wrap;
  }

  .fotter__bottom-content-social {
    margin-top: 20px;
    margin: 20px auto;
  }

  .fotter__bottom-content-text {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .footer__content-colomn {
    flex: 0 1 100%;
    padding: 0 10px;
  }
}
/*-- /footer -------------------------------------------------------------------------------------------------------------------------*/
